<!doctype html>
<html>

<head>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="/assets/js/app.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="header">
                <div class="container">
                    <a href="/">
                        <img class="logo" src="/assets/img/Arcon Logo.jpg">
                    </a>
                    <ul class="menu">
                        <li>
                            <a href="views/commercialProjects.html">Commercial Projects</a>
                        </li>
                        <li>
                            <a href="views/residentialProjects.html">Residential Projects</a>
                        </li>
                        <li>
                            <a href="views/publicWorks.html">Public Works</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">More
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/services">Services</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact Us</a>
                                </li>
                                <li>
                                    <a href="/career">Employment Opportunities</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    {{{body}}}


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="text-align: left;" id="footer-info">
                    <h3>In Architecture:</h3>
                    <p>We provide support for your innovative architectural designs, from conceptual design through construction.</p>
                </div>
                <div class="col-md-6" style="text-align: right;" id="footer-info">
                    <h3>Structural Engineering Services:</h3>
                    <p>Structrual analysis and calculations, design and detailed construction drawings.
                        <a href="/services" id="footer-link">See More</a>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-3">
                    <span class="glyphicon glyphicon-phone"></span>
                    <a href="/contact" id="footer-link">Contact Us</a>
                </div>
                <div class="col-xs-3">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <a href="/career" id="footer-link">Employment Opportunities</a>
                </div>
                <div class="col-xs-3">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12" style="text-align:center">
                     Copyright <span class="glyphicon glyphicon-copyright-mark"> 2018 Arcon Structural Engineering
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>