<div class="container">
    <div class="contact">
        <div class="row">
            <div class="col-md-6" id="contact-info">
                <h1>Contact Us</h1>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        Address: 22391 Gilberto - Suite E Rancho Santa Margarita, CA 92688
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-phone"></span>
                        Phone: (949)766-5102
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-print"></span>
                        Fax: (949)766-1761
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-send"></span>
                        <a href="mailto: hmontoya@arconse.com">E-mail: hmontoya@arconse.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6" id="contact-photo">
                <img src="assets/img/Country Inn Ontario 6.jpg">
            </div>
        </div>
    </div>
</div>