<div class="container">
    <div class="employ">
        <div class="row">
            <div class="col-md-6" id="contact-info">
                <h1>Employment Opportunities</h1>
                <h3>Architect</h3>
                <p>Minimum two years of experience with strutures for public works, industrial facilities, and senior housing
                    projects, intimately,familiar with AutoCAD. Must have experiences generating and coordinating construction
                    documents, field support and field generated construction submittals. Bilingual English/Spanish is a
                    plus. Please send resume to:</p>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-print"></span>
                        Fax: (949)766-1761</li>
                    <li>
                        <span class="glyphicon glyphicon-send"></span>
                        <a href="mailto: hmontoya@arconse.com">E-mail: hmontoya@arconse.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/Trail Ridge 1.jpg" id="career-photo">
            </div>
    </div>
</div>