<div class="slider">

    <div class="slide active-slide">
        <div class="container">
            <div class="row">
                <div class="slide-img col-xs-5">
                    <img src="/assets/img/Hanson Chula Vista.JPG" width="340px" height="470px">
                </div>
                <div class="slide-copy col-xs-7" id="slide-text">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Arcon Structural Engineers, Inc. is dedicated to providing our clients with the finest structural engineering
                                services available.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slide slide-feature_one">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="views/commercialProjects.html" id="slide-link"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="slide slide-feature_two">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="views/residentialProjects.html" id="slide-link"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="slide slide-feature_three">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="views/publicWorks.html" id="slide-link"></a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="slider-nav">
    <a href="#" class="arrow-prev">
        <img src="/assets/img/arrow_left.png" height="30px">
    </a>
    <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
    </ul>
    <a href="#" class="arrow-next">
        <img src="/assets/img/arrow_right.png" height="30px">
    </a>
</div>