<!doctype html>
<html>
 <head>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="../js/app.js"></script>
 </head>

<body>
	
	<div class="header">
		<div class="container">
			<a href="../index.html">
				<img class="logo" src="../img/Arcon Logo.jpg">
			</a>
			<ul class="menu">
				<li><a href="commercialProjects.html">Commercial Projects</a></li>
				<li><a href="residentialProjects.html">Residential Projects</a></li>
				<li><a href="publicWorks.html">Public Works</a></li>
				<li class="dropdown">
            		<a href="#" class="dropdown-toggle">More<b class="caret"></b></a>
            	<ul class="dropdown-menu">
            		<li><a href="services.html">Services</a></li>
              		<li><a href="contact.html">Contact Us</a></li>
              		<li><a href="employment.html">Employment Opportunities</a></li>
            	</ul>
          		</li>
			</ul>
		</div>
	</div>

	<div class="slider">
		
		<div class="slide active-slide">
			<div class="container">
				<div class="row">
					<div class="slide-img col-xs-5">
						<img src="../img/Hanson Chula Vista.JPG" width="340px" height="470px">
					</div>
					<div class="slide-copy col-xs-7">
						<h1>Arcon Structural Engineers, Inc. is dedicated to providing our clients with the finest structural engineering services available.</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="slide slide-feature_one">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<a href="#">See Our Commercial Projects</a>
					</div>
				</div>
			</div>
		</div>

		<div class="slide slide-feature_two">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<a href="#">See Our Residential Projects</a>
					</div>
				</div>
			</div>
		</div>

		<div class="slide slide-feature_three">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<a href="#">See Our Public Works</a>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<div class="slider-nav">
		<a href="#" class="arrow-prev">
			<img src="../img/arrow_left.png" height="30px">
		</a>
		<ul class="slider-dots">
        	<li class="dot active-dot">&bull;</li>
        	<li class="dot">&bull;</li>
       	 	<li class="dot">&bull;</li>
        	<li class="dot">&bull;</li>
      	</ul>
      	<a href="#" class="arrow-next">
      		<img src="../img/arrow_right.png" height="30px">
      	</a>
	</div>

</body>
</html>