<div class="container">
    <div class="service">
        <div class="row">
            <div class="col-md-6" id="contact-info">
                <h3>Complete Structrual Engineering Services including...</h3>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-plus"></span>
                        Structural Analysis and Calculations
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-pencil"></span>
                        Structural Design and Detailed Construction Drawings
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        Structrual Specifications
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-info-sign"></span>
                        Research for Product Development
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        Damage Assessment Studies and Reports
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-file"></span>
                        Technical Reports
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-blackboard"></span>
                        Seminars
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/Washington Family Ranch 2.jpg">
            </div>
        </div>
    </div>
</div>