<!doctype html>
<html>
 <head>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="../js/app.js"></script>
 </head>

<body>
	
	<div class="header">
		<div class="container">
			<a href="../index.html">
				<img class="logo" src="../img/Arcon Logo.jpg">
			</a>
			<ul class="menu">
				<li><a href="commercialProjects.html">Commercial Projects</a></li>
				<li><a href="residentialProjects.html">Residential Projects</a></li>
				<li><a href="publicWorks.html">Public Works</a></li>
				<li class="dropdown">
            		<a href="#" class="dropdown-toggle">More<b class="caret"></b></a>
            	<ul class="dropdown-menu">
            		<li><a href="../index.html">Home</a></li>
              		<li><a href="contact.html">Contact Us</a></li>
              		<li><a href="employment.html">Employment Opportunities</a></li>
            	</ul>
          		</li>
			</ul>
		</div>
	</div>

	<div class="service">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3>Complete Structrual Engineering Services including...</h3>
					<ul>
						<li>Structural Analysis and Calculations</li>
						<li>Structural Design and Detailed Construction Drawings</li>
						<li>Structrual Specifications</li>
						<li>Research for Product Development</li>
						<li>Damage Assessment Studies and Reports</li>
						<li>Technical Reports</li>
						<li>Seminars</li>
					</ul>
				</div>
				<div class="col-md-6">
					<img src="../img/Washington Family Ranch 2.jpg">
				</div>
			</div>
		</div>
	</div>



</body>
</html>